<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centWelcome">
    <mat-card-title class="title">Want to talk or find friends?</mat-card-title>
    <a class="link" routerLink="/register">JOIN US</a>
    <mat-card-title class="captitle">JUST SIGN IN OR REGISTER</mat-card-title>
  </mat-card>
</div>


