.centWelcome
  width: 700px
  height: 150px
  margin-top: 150px
  justify-content: space-between
.title
  font-size: 35px
  margin: 10px
  padding: 15px
  color: white
.link
  text-decoration: none
  color: white
  text-align: center
  margin: 10px
.captitle
  margin-top: 20px
