<mat-card>
  <mat-card-subtitle>Users in chat:</mat-card-subtitle>
  <mat-list class="userSide" *ngFor="let user of users | async">
    <mat-list-item>{{ user.name }}</mat-list-item>
  </mat-list>
</mat-card>


<mat-card class="example-card" *ngFor="let message of messages">
  <mat-card-subtitle>Interaction:</mat-card-subtitle>
  <mat-card-title>{{ message.username }}</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <p>{{ message.text }}</p>
  </mat-card-content>
</mat-card>


<div class="msgForm">
  <form (ngSubmit)="sendMessage()">
    <input
      type="text"
      name="messageText"
      mat-raised-button
      [(ngModel)]="messageText"
    />
    <button type="submit">Send</button>
  </form>
</div>
