<app-centered-card title="Register">
  <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Your name</mat-label>
      <input
        type="text"
        name="displayName"
        required
        ngModel
        matInput
        #displayName="ngModel"
        autocomplete="displayName"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required')">Name field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email" name="email" required ngModel matInput
        #email="ngModel" autocomplete="username" email
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">Email is required!</mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">Enter correct email!</mat-error>
      <mat-error *ngIf="email.touched && email.hasError('ServerError')">{{email.getError('serverError')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        required
        ngModel
        matInput
        #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('password')">Password is incorrect!</mat-error>
      <mat-error *ngIf="password.touched && password.hasError('required')">Password is required!</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input
        type="password"
        name="passwordRepeat"
        autocomplete="new-password"
        required
        ngModel
        matInput
        #pRepeat="ngModel"/>
      <mat-error *ngIf="pRepeat.touched && pRepeat.hasError('required')">Repeat your password</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">REGISTER</button>
  </form>
</app-centered-card>
